/* general styling */

h1 {
  font-family: cursive;
  font-size: 60px;
  color: rgb(63, 97, 160); 
   
}

h1, h2 {
  text-align: center;
}
p {
  color: rgb(71, 98, 173);
}

li {
  color: rgb(76, 151, 58);
}

a:link {color: red;}
a:hover {color: green;}
a:active {color: brown;}
a:visited {color: pink;}

.logo {
  font-size: 16px;
  text-align: center;
}
